<%-include("header")-%>
<h2>This is the about page!</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, quis. Quas architecto ratione officia vitae quaerat expedita ad illum odio iste numquam? Architecto repudiandae dolores ab id officiis voluptatibus culpa?</p>
<%-include("footer")-%>